@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Glory:wght@100;200;300;400;500;600;700;800&display=swap');

.MainBox{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: white;
	font-family: 'Glory', sans-serif;
	height: 35vh;
	width: 100vw;
	max-width: 800px;
	border-radius: 40px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 10px 0px 10px 0px;
	transition: .75s;
}

.MainBox_Select{
	height: calc(100vh - 20px);
	transition: .75s;
}

.MainBox_Title{
    font-size: 35px;
    font-weight: 500;
    margin-top: 5px;
}

.MainBox_Total{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Total_Title{
	font-size: 28px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.65);
}

.Total_Value{
	font-family: 'Glegoo', serif;
	font-weight: 700;
	font-size: 30px;
}

.MainBox_Values{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.Movement_Total{
	display: flex;
	align-items: center;
	font-size: 22px;
}

.Movement_Total > img{
	margin-right: 6px;
}

.Movement_Title{
	color: rgba(0, 0, 0, 0.65);
}

.Movement_Value{
	font-family: 'Glegoo', serif;
	font-weight: 600;
}

.Movement_Details{
	margin: 20px 0px 0px 36px;
	font-size: 20px;
}

.Movement_Add{
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.Movement_Add > button{
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: 'Glory', sans-serif;
	font-size: 60px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Values_ButtonHistory{
	border: none;
	border-radius: 20px;
	background-image: url(../Images/HistoryButton_Background.png); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Glory', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: white;
	width: 280px;
	height: 35px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.MainBox_Details{
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: 'Glory', sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.65);
	padding: 10px;
	cursor: pointer;
}

.Green{
	color: #18AB65;
}

.Red{
	color: #E54E4E;
}

.Hide{
	display: none;
	transform: translateY(-20px);
}

.Show{
	display: block;
	transform: translateY(0px);
}

@media screen and (max-width: 570px){

	.MainBox_Title{
		font-size: 30px;
	}

	.Total_Title{
		font-size: 23px;
	}

	.Total_Value{
		font-size: 25px;
	}

	.Movement_Total{
		font-size: 20px;
	}

	.Movement_Details{
		font-size: 18px;
	}

	.MainBox_Details{
		font-size: 16px;
	}

	.Movement_Add > button{
		font-size: 55px
	}

}


@media screen and (max-width: 470px){

	.MainBox_Title{
		font-size: 25px;
	}

	.Total_Title{
		font-size: 20x;
	}

	.Total_Value{
		font-size: 20px;
	}
	
	.Movement_Total{
		font-size: 18px;
	}

	.Movement_Total > img{
		height: 35px;
	}

	.Movement_Details{
		font-size: 16px;
		margin: 15px 0px 0px 31px;
	}
	
	.Values_ButtonHistory{
		width: 235px;
		height: 28px;
		font-size: 18px;
	}

	
	.MainBox_Details{
		font-size: 16px;
	}

	.Movement_Add{
		margin-top: 5px;	
	}	

	.Movement_Add > button{
		font-size: 50px;
		width: 40px;
		height: 40px;
	}

}

@media screen and (max-width: 370px){

	.Movement_Total{
		font-size: 16px;
	}

	.Movement_Total > img{
		height: 30px;
	}

	.Values_ButtonHistory{
		width: 220px;
		height: 24px;
		font-size: 16px;
	}

	.Movement_Details{
		font-size: 14px;
		margin: 10px 0px 0px 27.42px;
	}
	
}
