@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Glory:wght@100;200;300;400;500;600;700;800&display=swap');

.Messages{
	position: fixed;
	right: 20px;
	z-index: 900;
}

.MainBoxMessage{
	color: white;
	width: calc(100vw - 30px);
	max-width: 310px;
	min-height: 80px;
	border-radius: 8px;
	margin-top: 20px;
	font-family: 'Glory', sans-serif;
}

.MainBoxMessage_Title{
	display: flex;
	justify-content: space-between;
}

.TitleIcon{
	display: flex;
	align-items: center;
	margin: 10px;
	font-size: 20px;
	font-weight: 600;
}

.MainBoxMessage_Message{
	padding: 0px 25px 15px 45px;
	font-size: 18px;
	font-weight: 500;
}

.Success{
	background-color: green;
}

.Error{
	background-color: red;
}

.Warning{
	background-color: orange;
}

.Info{
	background-color: blue;
}

